<body>
    <h1>Sign Up</h1>
    <form action="/user/create" method="post">
        <input type="text" name="name" placeholder="name" required>
        <input type="text" name="email" placeholder="email" required>
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="cfpassword" placeholder="confirm Password">
        <input type="file" name="avatar" id="">
        <input type="submit" value="Submit">
    </form>
</body>