<body>
    <h1>Sign In</h1>
    <form action="/user/create-session" method="post">
        <input type="text" name="email" placeholder="Username/email" required>
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Submit">
    </form>
</body>